<div class="footer">
    <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" alt="" class="logo">
    <div class="foot">
            <div class="links-div">
                    <span class="footer-heading">Other Links</span>
                    <hr>
                    <ul class="links">
                        <li>About Us</li>
                        <li>How to Play</li>
                        <li>Upcoming Matches</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="declaration">
                 <span class="footer-heading">Declaration</span>
                 <hr>
                 <p>
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum quod aperiam nostrum quam officiis accusamus repellendus enim tempora pariatur quasi, suscipit nulla deleniti tempore eius omnis fugit unde id officia.
                 </p>
                </div>
    </div>
</div>
