<div class="cards" >
    <div class="match">  
            <div class="left">
               <div class="eng">
                     <h3 class="country">Eng</h3>
               </div>
               
            </div>
               <div class="mid">
                  <img src="https://i.imgur.com/Qwe1Z0n.png" class="vs">
               </div> 
            <div class="right">
               <div class="ind">
                     <h3 class="country">ind</h3>
               </div>
              
           </div>
           <div class="time">
            <p><span>23rd May</span><br>
               <span>0700 Hours</span></p>
           </div>
    </div>
</div>
