<app-nav></app-nav>

<app-carousel></app-carousel>

<!-- Image-carousel-End -->
<!-- How to play -->

<!-- Vertical Timeline -->
<app-timeline></app-timeline>

<!-- upcoming-matches -->
<div class="upcoming container-fluid">
  <ngx-slick class="cards" #slickModal="slick-modal" [config]="slideConfig2">
    <div ngxSlickItem *ngFor ="let card of cards" class="upcomingCard">
        <app-cards class="upcoming-matches"></app-cards>
    </div>
    </ngx-slick>
    
</div>



<!-- upcoming-matches -->
<!-- FAQs -->
<app-faq></app-faq>
<!-- Footer -->
<app-footer></app-footer>