   .upcoming-matches{
    margin: 20px;
    padding: 20px;
    
  }
  .upcoming{
    background-color: rgb(2, 2, 37);
    padding: 0px 30px 0px 30px;
  }
  .upcoming .cards{
    height: 100%;
    width: 100%;
    margin-right: 10px; 

  }
  .upcomingCard:hover{
    height: 110%;
    width: auto;
    /* border-style: double; */
 }
 
