<div class="widget">
    <div class="widget-header"> <i class="fa fa-bookmark" aria-hidden="true"></i>
      <h3>Important Shortcuts</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
      <div class="shortcuts"> 
          <a  class="shortcut" routerLink="/admin/calendar">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="shortcut-label">Apps</span> </a>
              <a class="shortcut">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                  <span class="shortcut-label">Bookmarks</span> </a>
                  <a class="shortcut">
                        <i class="fa fa-signal" aria-hidden="true"></i> 
                      <span class="shortcut-label">Reports</span> </a>
                      <a class="shortcut"> 
                            <i class="fa fa-comment" aria-hidden="true"></i>
                          <span class="shortcut-label">Comments</span> </a>
                          <a class="shortcut">
                                <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="shortcut-label">Users</span> </a>
                              <a class="shortcut">
                                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                  <span class="shortcut-label">Notes</span> </a>
                                  <a class="shortcut">
                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                       <span class="shortcut-label">Photos</span> </a>
                                       <a class="shortcut"> 
                                            <i class="fa fa-tags" aria-hidden="true"></i>
                                           <span class="shortcut-label">Tags</span> 
                                      </a> 
                        </div>
      <!-- /shortcuts --> 
    </div>
    <!-- /widget-content --> 
  </div>