



<div class="faq">
   <h2>Frequently Asked Questions</h2>
   <div class="row q">
        <div class="col-md left">

                <mat-accordion>
                        <mat-expansion-panel class="one-faq">
                                
                          <mat-expansion-panel-header class="specific-class">
                            <!-- <mat-panel-title>
                              Personal data
                            </mat-panel-title> -->
                            <mat-panel-description >
                                <div class="question">
                                    <p><span>Q.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquam exercitationem eaque numquam inventore,</span></p>
                                </div>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="answer">
                             <p><span>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cumque, illo hic placeat beatae omnis voluptate nisi repellat temporibus voluptatum quod eligendi nesciunt quaerat minima eius. Reiciendis, modi? Voluptatem, provident?</span></p>
                          </div>  
                        </mat-expansion-panel>


                        <mat-expansion-panel class="one-faq">
                                
                                <mat-expansion-panel-header>
                                  <mat-panel-description >
                                      <div class="question">
                                          <p><span>Q.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquam exercitationem eaque numquam inventore,</span></p>
                                      </div>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="answer">
                                   <p><span>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cumque, illo hic placeat beatae omnis voluptate nisi repellat temporibus voluptatum quod eligendi nesciunt quaerat minima eius. Reiciendis, modi? Voluptatem, provident?</span></p>
                                </div>  
                              </mat-expansion-panel>
                        </mat-accordion>
                
            </div>
            <div class="col-md right">

                    <mat-accordion>
                            <mat-expansion-panel class="one-faq">
                                
                                    <mat-expansion-panel-header>
                                      <!-- <mat-panel-title>
                                        Personal data
                                      </mat-panel-title> -->
                                      <mat-panel-description>
                                          <div class="question">
                                              <p><span>Q.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquam exercitationem eaque numquam inventore,</span></p>
                                          </div>
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="answer">
                                       <p><span>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cumque, illo hic placeat beatae omnis voluptate nisi repellat temporibus voluptatum quod eligendi nesciunt quaerat minima eius. Reiciendis, modi? Voluptatem, provident?</span></p>
                                    </div>  
                                  </mat-expansion-panel>


                                  <mat-expansion-panel class="one-faq">
                                
                                        <mat-expansion-panel-header>
                                          <!-- <mat-panel-title>
                                            Personal data
                                          </mat-panel-title> -->
                                          <mat-panel-description>
                                              <div class="question">
                                                  <p><span>Q.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquam exercitationem eaque numquam inventore,</span></p>
                                              </div>
                                          </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="answer">
                                           <p><span>A. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cumque, illo hic placeat beatae omnis voluptate nisi repellat temporibus voluptatum quod eligendi nesciunt quaerat minima eius. Reiciendis, modi? Voluptatem, provident?</span></p>
                                        </div>  
                                      </mat-expansion-panel>
                            </mat-accordion>
                
             </div>
   </div>
</div>